# Node modules (root & all packages)
node_modules/
packages/*/node_modules/

# Build output
packages/*/dist/
packages/*/build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
# .env.*

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# React/Vite/CRA output
packages/frontend/.next/
packages/frontend/.cache/
packages/frontend/out/
packages/frontend/coverage/
packages/frontend/public/static/

# Typescript cache
packages/*/tsconfig.tsbuildinfo

# Misc
*.local


package-lock.json
yarn.lock

coverage/
